PORT=5001
MONGODB_URI=mongodb+srv://vedteic:Pratham%4054301@vedteix.yby9dng.mongodb.net/dmcu-db

JWT_SECRET=Pratham@0405Sakariya
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3004
ADMIN_NAME=DMCU Admin
ADMIN_EMAIL=admin@dmcuved.com
ADMIN_PASSWORD=Dmcu@0405
NODE_ENV=development

